<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCt5rB_jyXRXjlk2fcUEnmNg_DscravWRI</string>
	<key>GCM_SENDER_ID</key>
	<string>579190208909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moda.sara</string>
	<key>PROJECT_ID</key>
	<string>unlock-lm0eva</string>
	<key>STORAGE_BUCKET</key>
	<string>unlock-lm0eva.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579190208909:ios:091098e2f8bc86265f65c4</string>
</dict>
</plist>